@import 'main.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100&subset=latin,latin-ext,cyrillic,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Rubik&subset=latin,latin-ext,cyrillic);


html {
  background-color: #222;

}

body {
  background: none;
  font-family: 'Roboto', sans-serif;
}
p{
  font-size: 12 px;
}
h1 {
  font-family: 'Rubik', sans-serif;
}

.peso {
  margin:2px;
  padding: 5px;
  background: #000;
  font-weight: 100;
  color: #fff;
}

.peso1 {
  margin:2px;
  padding: 5px;
  background: #000;
  font-weight: 300;
  color: #f5f5f5;
}

.peso2 {
  margin: 2px;
  padding: 5px;
  background: #000;
  font-weight: 400;
  color: #fff;
}
